body {
  padding: 0;
  margin: 0;
  background: #60A7FE url(/images/main_logo_all.png) no-repeat center top;

  width: 100%;
  display: table;
}

h1
{
  font-size: 1.8em;
  padding-bottom: 0.5em;
}

h2
{
  font-style: italic;
  font-size: 1.2em;
  padding-bottom: 0.5em;
}

#containers
{
  display: inline-block;
}

#header
{
  /*background: #60A7FE url(/images/main_logo.png) no-repeat scroll 50% 0;*/
  width: 100%;
  height: 797px;
  margin: 0 auto;
}

#main
{
  width: 100%;
  /*background: #60A7FE url(/images/main_logo_bottom.png) no-repeat scroll 50% 0;*/
  margin: 0 auto;
  height: 1020px;
}


#main_content 
{
  padding: 0em;
  color: black;
  font-family: "Arial Rounded MT Bold", Arial;
  font-size: 1.8em;
  height: 920px;
  width: 75%;
  margin: 0 auto;
  overflow:hidden;
}

#reminder_form
{
  width: 550px;
  margin: 0 auto;
}
.icon
{
  float:right;
}

fieldset
{
  background-color:#D5EBFB;
}

fieldset ol li
{
  clear:both;
}

#time_settings
{
  font-size: 0.5em;
  overflow:hidden;
}

#time_settings label
{
  display: inline;
  padding-right: 1em;
  width: 100px;
}

#time_settings select
{
  width: auto;
}

#search_result
{
  font-size: 0.8em;
}

label {
  display: block;
  vertical-align:middle;
}

.required label {
  font-weight: bold;
}

.tagline
{
  text-align: right;
  margin-right: 15em;
  padding: 0;
  font-size: 50%;
}

#footer
{
  width: 100%;
  background-image: url(/images/blue_footer.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: scroll;  
  height: 100px;
  color: white;
  font-family: "Verdana";
  font-size: 0.75em;
  text-align: center;
}

#footer_content
{
  margin: 0 auto;
  font-size: 0.75em;
  width: 960px;
}

#copyright
{
  margin-top: 2.5em;
  float: left;
  display: inline; /* double margin bug */  
}

#links
{
  margin-top: 2.5em;
  float: right;
  display: inline; /* double margin bug */  
}

a:link, a:visited
{
  color: black;
}


