<h1>Welcome to BrollyReminder!</h1>
<h2>Check your email...</h2>
<p>
Please confirm your email address by clicking the link in the email I just sent you.
We'll send you a reminder whenever it's going to be wet!</p>
