<h1>Welcome to BrollyReminder!</h1>
<p>
If you would be so kind as to confirm your email address by clicking in the link in the email I sent you, 
then we can start sending you reminders whenever it's going to be wet!</p>
