<h1>Hi there</h1>
<p>
Thanks for signing up for brollyreminder.com! To confirm this really is your email address just click "#{@confirm_url}"</p>
<p>
If you don't know what this email is about, don't worry it probably just means someone signed up with the wrong email address, if it's not confirmed we'll never send you another email again, promise!
</p>

<p>
Good weather to you,<br/>
BrollyReminder.com
</p>
